In [1]:
import pandas as pd
import numpy as np

import dask.dataframe as dd
from sklearn.linear_model import LogisticRegression

from sklearn.pipeline import Pipeline, make_pipeline, FeatureUnion
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer

from sklearn.metrics import f1_score, classification_report
from sklearn.feature_selection import SelectFromModel

import pickle

In [2]:
from until import ColumnSelector, preprocess_data_train, preprocess_data_test, select_type_cols

In [25]:
FEATURES_DATA = 'data/features.csv'
RANDOM_STATE = 21
TEST_DATA = 'data/data_test.csv'
ANSWER_TEST= 'data/answers_test.csv'

### Data preprocessing

In [4]:
test_df = pd.read_csv(TEST_DATA)

In [5]:
with open("data\offer_mark.txt", "r") as file:
    offer_mark = file.readlines()
    offer_mark = [int(line.rstrip()) for line in offer_mark]

In [6]:
X_test = preprocess_data_test(test_df, FEATURES_DATA, offer_mark)

### Loading the Model and Making Predictions

In [11]:
with open('data/cat_boost_model.pickle', 'rb') as f:
    cat_boost_pipe =  pickle.load(f)

In [13]:
predict = cat_boost_pipe.predict(X_test)

C:\Users\flath\AppData\Roaming\Python\Python38\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)
C:\Users\flath\AppData\Roaming\Python\Python38\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [14]:
predict

array([0., 0., 1., ..., 0., 0., 0.])

In [18]:
test_df = test_df.drop('Unnamed: 0', axis=1)

In [19]:
test_df

            id  vas_id    buy_time
0      3130519     2.0  1548018000
1      2000860     4.0  1548018000
2      1099444     2.0  1546808400
3      1343255     5.0  1547413200
4      1277040     2.0  1546808400
...        ...     ...         ...
71226  2502453     5.0  1548018000
71227  1693213     2.0  1548018000
71228  1891350     2.0  1548018000
71229  2437172     2.0  1548018000
71230   988236     2.0  1548018000

[71231 rows x 3 columns]

In [20]:
test_df['target'] = predict

In [27]:
test_df.to_csv(ANSWER_TEST, index=False)

In [22]:
test_df.head()

        id  vas_id    buy_time  target
0  3130519     2.0  1548018000     0.0
1  2000860     4.0  1548018000     0.0
2  1099444     2.0  1546808400     1.0
3  1343255     5.0  1547413200     0.0
4  1277040     2.0  1546808400     0.0